.git_h3 {text-align: center; margin: 10px 0 10px 0;}
.git_box, .git_list {margin: 20px 10px 20px 10px;}
.git_box h4 {padding: 5px 0;}
.git_log .generaltable th {text-align: center;}
.git_log .generaltable .subject {max-width: 350px;}
.git_log .subject div {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.git_log .red {color: red;}
.git_box .fitemtitle {min-width: 140px;}
.git_box .felement input {min-width: 240px;}
.git_error {text-align: center; background-color: #FFF; border: 1px red solid; margin-bottom: 15px;}
.git_back_link {padding: 5px 20px 10px 20px;}
.git_checklink {margin: 5px 0 5px 0;}
.git_right {text-align: right; margin: 5px 20px 5px 0;}
.git_menu {text-align: center;}
.git_menu li {display: inline; padding: 5px 5px 5px 5px;}
.git_menu a {padding: 5px 5px 5px 5px;}
.git_member_list {list-style: none; text-align: right;}
.git_member_list ul {margin: 5px 5px;}
.git_member_list li {display: inline; padding: 5px 4px 5px 4px; line-height: 35px;}
.git_user_pic img {padding: 1px 1px;}
.git_user_pic_email img {border: 1px solid green;}
.git_user_pic_no_email img {border: 1px solid red;}
.git_list .generaltable td {vertical-align: middle;}
.git_list .git_member_list {text-align: left;}
